[basic-construct]        # the id of the item
name = "Basic Construct" # the full name of the item (used for sorting, if tier is the same)
tier = 5                 # the tier of the item (used for sorting)
time = { seconds = 8 }   # the time needed to craft this item. Excluding the time for the requirements
                         # time supports the fields: weeks, days, hours, minutes, seconds. e.g.: { hours = 3, minute = 2, seconds = 10 }
variations = [           # all variations of the item that can be crafted with the same materials
    "red",
    "blue",
    "green"
]

[basic-construct.meta]   # meta data for the item. this can contain any string or float data
some-meta-data = 6
some-other-meta-data = "Maybe a description?"

[basic-construct.requirements] # the requirements to craft this item in the format: <id> = <amoun>
basic-part = 10

[basic-part]
name = "Basic Part"
tier = 4
time = { seconds = 4 }

[basic-part.requirements]
basic-material = 2

[basic-material]
name = "Basic Material"
tier = 3
time = { seconds = 2 }
